:host {
  grid-row: 1;
  grid-column: 1/4;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0.2em;
  height: var(--nav-top-height);

  background-color: rgba(var(--bg-nav-top-1));
  border-bottom: 2px solid rgba(var(--border-nav-top-1));
}