<button *ngIf="authService.isLoggedIn | async">
  <span class="icon"
    (click)="
      defaultLayoutService.navigationRightOpen = 
      !defaultLayoutService.navigationRightOpen">
    <svg-icon
      title="Help"
      src="assets/svg/question-solid.svg"
      [svgStyle]="{'width.px':'20'}">
    </svg-icon>
  </span>
</button>
<button *ngIf="authService.isLoggedIn | async">
  <span class="icon">
    <svg-icon
      title="User profile"
      src="assets/svg/user-solid.svg"
      [svgStyle]="{'width.px':'20'}">
    </svg-icon>
  </span>
</button>
<button *ngIf="authService.isLoggedIn | async" (click)="authService.logout()">
  <span class="text">Logout</span>
</button>
<button *ngIf="!(authService.isLoggedIn | async)" (click)="authService.login()">
  <span class="text">Login</span>
</button>
