:host {
  grid-row: 2;
  grid-column: 3;

  height:100%;
  z-index: 9;

  background-color: rgba(var(--bg-nav-top-1));
  border-left: 2px solid rgba(var(--border-nav-top-1));

  min-width: 15em;
  max-width: 75vw;
}