:host {
  overflow: hidden;

  &::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.09);
  }

  display: grid;
  place-items: start;
  grid-auto-rows: min-content;

  padding: 1em;
}
