:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.icon {
  display: grid;
  place-items: center;
  margin: 0.25em;
  padding: 0.25em;

  >* {
    display: grid;
    place-items: center;
  }

  cursor: pointer;

  color: rgba(var(--txt-color-1));

  // transition: all 0.1s linear;
  // &:active {
  //   box-shadow: 0 0 3px 3px rgba(var(--txt-color-1), 0.5) inset;
  // }
}

.text {
  font-size: 2em;
  user-select: none;
}
