$tab_bg: rgba(50,50,50,1);

:host {
  display: grid;
  grid-auto-flow: column dense;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 0.3em;
}

.tab {
  background-color: $tab_bg;
  padding: 1em;

  cursor: pointer;

  &:hover {
    background-color: darken($tab_bg, 3%);
  }

  &.active {
    background-color: darken($tab_bg, 6%);
  }
}


